:root {
    --back: black;
    --shadow: hsl(0,0%,50%);
    --zebra: hsl(0, 0%, 93%, 1);
    --border: hsla(0,0%,20%,.8);
}

table {
    margin: 10px auto;
    border: thin solid var(--border);
    box-shadow: 0 0 10px var(--shadow);
    border-collapse: collapse;
}

caption {
    padding: 10px;
    caption-side: bottom;
    color: var(--back);
    font-size: 16px;
}

th, td {
    padding: 7px 15px;
    border: 1px solid black;
    text-align: center;
}

tr  th {
    background-color: black;
    color: white;
}

tbody tr:nth-child(2) {
    background-color: var(--zebra);
}
