:root{
    --main_color: rgb(17 68 68);
    --main_radius: 5px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header, footer {
    background-color: var(--main_color);
    color: white;
    padding: 10px;
}

.navigation {
    display: flex;
    flex-direction: column;
    color: white;
}

.navigation a{
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: white;
}

a{
    text-decoration: none;
}

.navigation a:hover {
    background-color: whitesmoke;
    color: black;
    font-size: 16px;
}

.open a {
    display: block;
}


iframe {
    display: block;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
}

#menu.open iframe {
    display: none;
}

#menu{
    font-size: 1.5rem;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
	content: "✕";
}

#main-photo img{
    width: 100%;
    height: 100%;
}

.logo {
    display: block;
    width: 8%;

}

.brand-name {
    position: absolute;
    top: 0.4%;
    left: 44%;
    font-size: 25px;
}

.act {
    display: none;
    font-size: 26px;
    color: var(--main_color);
    background-color: white;
    opacity: 0.8;
    padding: 10px;
    text-align: center;
}

.join {
    background-color: white;
    color: var(--main_color);
    text-decoration: none;
    font-size: 10px;
    padding: 15px 30px;
    border-radius: var(--main_radius);
}

#b-to-act{
    position: absolute;
    bottom: 70%;
    left: 50%;
    transform: translate(-50%, 25%);
    transition: opacity 0.5s ease;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.rental-home-img{
    display: block;
    width: 100%;
}

#rental-info {
    text-align: center;
    background-color: var(--main_color);
    color: white;
}

.rental-heading{
    border-bottom: 5px solid white;
    padding-bottom: 15px;
}

.more-info a, #social a, footer a{
    text-decoration: none;
    background-color: white;
    color: var(--main_color);
    margin: 0 4px;
    padding: 3px;
}

#social, #weather-1 {
    background-color: var(--main_color);
    color: white;
    border-radius: var(--main_radius);
    padding: 0 10px;
}

footer p{
    display: block;
    text-align: center;
}

.logo-1 {
    position: absolute;
    display: block;
    width: 8%;
    top: 2%;

}

.rent-now{
    position: relative;
    bottom: -180px;
    background-color: var(--main_color);
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 15px 30px;
    border-radius: var(--main_radius);

}

#banner {
    position: relative;
    margin: 20px;
    padding: 10px 30px;
    background-color: var(--main_color);
    border-radius: var(--main_radius);
    /* font-family: Arial, Helvetica, sans-serif; */

    
}

#banner span {
    text-decoration: underline;
}

#banner-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5rem;
    /* color: var(--accent2-color); */
    text-decoration: none;
}

.hidden {
    display: none;
}

#banner p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

footer{
    margin-top: 20px;
}

/* rentals page */

.subpage-heading {
    text-align: center;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: var(--main_radius);
    background-color: var(--main_color);
    color: white;
    font-size: 20px;
}

.rental-btn{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 20px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 20px;
    align-items: center;
    margin: 0 auto
}

.grid section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: var(--main_radius);
    /* padding: 2rem; */
    background-color: var(--main_color);
    color: white;
}

.member-card img{
    max-width: 200px;
    height: 100px;
    margin-bottom: 10px;
}

.list section{
    display: block;
    padding: 30px;
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.list section img{
    display: none;
}

.list section:nth-child(odd){
    background-color: var(--main_color);
    color: white;
}

/* reservation page */

#form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
}

.label {
    margin: 13px 72px;
}

section label input[type="text"], 
section label input[type="email"], 
section label input[type="tel"], 
section label input[type="hidden"], 
section label input[type="date"]
#description {
    display: block;
    padding: 5px;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
    margin: 10px 0;
}

input:required {
    border-bottom: solid 8px var(--main_color);
}

input:required:valid {
    border-bottom: solid 8px green;
}

.radio {
    display: block;
    margin: 10px;
}

.r-type-radio{
    display: block;
    background-color: var(--main_color);
    color: white;
    padding: 20px;
    border-radius: var(--main_radius);
    
}

.r-type{
    margin-top: 20px;
    display: block;
    background-color: var(--main_color);
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid white;
    border-radius: var(--main_radius);
}

.agreements{
    background-color: var(--main_color);
    padding: 20px;
    color: white;
}

form .submitBtn {
    border: none;
    background-color: white;
    color: black;
    font-size: 1.2rem;
    border-radius: var(--main_radius);
    padding: 1rem 1.5rem;
    margin: 1rem 40px;
}

.submitBtn:hover, .rent-now:hover{
    background-color: green;
    color: white;
    cursor: pointer;
}

/* contant us page */

iframe{
    display: block;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.contact-us{
    background-color: var(--main_color);
    color: white;
    padding: 20px;
    margin: 11px 0;
}

.top-1{
    background-color: var(--main_color);
    padding: 20px;
    color: white;
}

#description{
    padding: 48px;
    height: 90px;
    width: 79%;
}

.contact{
    display: grid;
    grid-template-columns: 1fr;
}

.c-us-form{
    display: block;
    border-radius: 4px; 
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}


/* thankyou page */

.thanks{
    display: block;
    padding: 20px;
    background-color: var(--main_color);
    color: white;
    margin: 50px;
    font-size: 1.5em;
    border-radius: var(--main_radius);
}