@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:wght@700&display=swap');

header, footer, h2 {
    display: block;
    background-color: rgb(33, 86, 166);
    padding: 10px;
    font-family: "Roboto", serif;
    border: black 5px solid;
    color: aliceblue;


}

header, footer {
    text-align: center;
}

body {
    background-color: white
}

p {
    padding: 20px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: black;
    margin: 0;
    font-size: 1.4em;
    background-color: rgb(123, 176, 255);
}

img {
    width: 100%;
    margin: 0 auto;
}

h2 {
    margin: 0;
}