body {
    font-family: Roboto;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: rgb(98, 70, 183) 10px solid;
    padding: 10px;
    background-color:rgb(121, 89, 185);

}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 20px;
    background-color: white;
}