@media screen and (min-width: 500px) {
    header {
        background-color: black;
        color: white;
        border: black 10px solid;
    }
    
    main {
        grid-template-columns: 1fr 1fr;
    }
}