@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:wght@500&display=swap');


:root {
    --font-size: 1.3rem;
    --primary-color: rgb(33, 86, 166);
    --second-color: red;


}


* body {
    margin: 0;
}

section h1 {
    text-align: left;
    display: block;
    padding-left: 2%;
}

section {
    margin: 10px 0;
    
}

main section {
    display: grid;
    grid-template-columns: 1fr;
    
}


header, footer {
    background-color: rgb(33, 86, 166);
    color: white;
}

.main-photo {
    display: block;
    width: 14%;
    margin-right: auto;
    padding-bottom: 1em;
    padding-top: 1em;

}

.hero-image {
    width: 100%;
    margin: 0 auto;
}

#join {
    position: relative;
    bottom: 250px;
    left: 120px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--primary-color);
    color: white;


}

header h1 {
    position: absolute;
    top: 0.4%;
    /* bottom: 100px; */
    left: 26%;
    font-size: 25px;
}

nav a {
    display: block;
    text-align: center;
    background-color: var(--primary-color);
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    border-top: 1px solid white;
    /* border: rgb(28, 27, 27) solid 2px; */
    
}


nav a:hover {
    text-decoration: overline;
}

#menu {

    font-size: 1.5rem;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
	content: "✕";
}

.navigation {
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: white;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    background-color: whitesmoke;
    color: black;
    font-size: 16px;
}

.open a {
    display: block;
}

iframe {
    display: block;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
}

#menu.open iframe {
    display: none;
}

footer p {
    display: block;
    text-align: center;
    padding: 20px;
    font-size: var(--font-size);
}

main, footer, header {
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}

section h2, section h1 {
    padding: 0 5px;
    background-color: rgb(72, 128, 212);
    color: #151515;


}

.firts, .second, .third {
    margin: 5px 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 370px;
    right: 0;
    /* bottom: 0; */
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

/* input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  } */
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.hero img {
    width: 100%;
    height: auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    
}

.main-img h2 {
    background-color: #2196F3;
    color: white;
    padding: 10px; 
}


.events h2 {
    background-color: #2196F3;
    color: white;
    padding: 10px; 

}

section label input[type="text"],
section label input[type="email"],
section label input[type="tel"],
section label input[type="hidden"],
#description {
    display: block;
    padding: 5px;
    border-radius: 4px; 
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

input:required {
    border-bottom: solid 8px var(--primary-color);
}

input:required:valid {
    border-bottom: solid 8px green;
}

span {
    background-color: var(--primary-color);
    color: white;
    padding: 10px; 


}

main label, section {
    display: block;
    padding-top: 30px;
    color: black;
    font-size: var(--font-size);
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    margin: 0px 125px ;
}

.thanks {
    display: block;
    padding: 20px;
    background-color: var(--primary-color);
    color: white;
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

/* Directory */
.subpage-heading {
    text-align: center;
    margin-bottom: 30px;
    padding: 10px;
    border-bottom: 2px solid var(--accent2-color);
    font-size: 1.5em;
    background-color: var(--primary-color);
    color: white;
}

a {
    
    padding: 3px;
    background-color: white;
    color: black
}

.directory-btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.directory-btn button {
    color: white;
    background-color: var(--primary-color);
    padding: 10px 13px;
    border: none;
    border-radius: var(--radius);
    font-size: 1.5rem;
}

.directory-btn button:hover {
    cursor: pointer;
}

.grid {
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	grid-gap: 20px;
	align-items: center;
    margin: 0 auto;
    padding: 1.5rem;
}

.grid section h3 {
    display: none;
}

.grid section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    padding: 2rem;
    height: 250px;
    background-color: var(--primary-color);
    color: white;
}

.grid section p,
.grid section a {
    margin: 10px 0;
}

.member-card img {
    max-width: 200px;
    height: 100px;
    margin-bottom: 10px;
}

.list {
	display: flex;
	flex-direction: column;
    margin-top: 30px;
}

.list section {
	display: block;
    padding: 30px;
    align-items: center;
}

.list section img {
	display: none;
}

.list section:nth-child(odd) {
	background-color: var(--primary-color);
    color: white;
}

#banner {
    position: relative;
    background-color: var(--secondary-color);
    margin: 20px;
    padding: 10px 30px;
    background-color: var(--primary-color);
    
}

#banner span {
    text-decoration: underline;
}

#banner-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5rem;
    color: var(--accent2-color);
    text-decoration: none;
}

.hidden {
    display: none;
}

#banner p{
    color: white;
}